<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Adicionar produto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <form #product="ngForm" (ngSubmit)="onSubmit($event)">
	<div class="modal-body">
		<div class="container-fluid">
            <div class="row">
                <div class="col col-lg-4 d-flex flex-column">
                    <div class="card" style="width: 18rem;">
                        <img [src]="imageUrl" class="card-img-top image-size" alt="...">
                        <div class="card-body">
                          <p class="card-text"> {{ gameName }} </p>
                        </div>
                      </div>

                    <label class="form-label" for="formFileSm">Url da foto:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Url Ícone</span>
                        <input type="text" class="form-control" #image_url (keyup.enter)="atualizaUrl(image_url)" placeholder="Url Ícone" aria-label="product-icon-url" name="productIconUrl" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col col-lg-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nome</span>
                        <input type="text" ngModel class="form-control" placeholder="Nome do jogo" aria-label="Username" name="productName" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Descrição</span>
                        <input type="text" ngModel class="form-control" placeholder="Descrição do jogo" aria-label="game-description" name="productDescription" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Preço</span>
                        <input type="text" ngModel class="form-control" placeholder="Preço do jogo" aria-label="product-price" name="productPrice" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Categorias</span>
                        <input type="text" ngModel class="form-control" placeholder="Categorias do jogo" aria-label="product-categories" name="productCategories" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Url</span>
                        <input type="text" ngModel class="form-control" placeholder="Url" aria-label="productImageUrl" name="productImageUrl" aria-describedby="basic-addon1">
                    </div>

                </div>
            </div>

          </div>
	</div>
    
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Adicionar</button>
	</div>
    </form>
</ng-template>