<div class="container-fluid py-3 custom-bg-color">
    <div class="row">
        <div class="col-md-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1" >@</span>
                </div>
                <input type="text"  #searchBar (keyup.backspace)="returnAllGames(searchBar)" (keyup.enter)="retrieveNamedGame(searchBar)" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4" *ngFor="let game of games">
                    <app-list-item [game]=game></app-list-item>
                </div>
            </div>
        </div>
    </div>
</div>